body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: white;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
}

.road {
  position: relative;
  width: 98vw;
  height: 100%;
  background-color: gray;
  overflow: hidden;
  border: 2px solid white;
}

.car {
  width: 40px;
  height: 70px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.1s; /* Smooth transition for car movement */
  z-index: 10;
}

.obstacle {
  width: 40px; /* Same size as player's car */
  height: 70px;
  background-color: blue; /* Different color to represent other cars or obstacles */
  position: absolute;
  transition: top 0.1s linear; /* Smooth transition for downward movement */
}

.road-segment {
  position: absolute;
  width: 4px; 
  height: 40px; 
  background-color: white;
  left: 50%; 
  transform: translateX(-50%);
  animation: moveRoad 1s linear infinite;
}

/* Road movement to simulate driving */
@keyframes moveRoad {
  from {
    top: -40px; /* Start above the view */
  }
  to {
    top: 100vh; /* Move down the entire viewport */
  }
}